html,
body {
    height: 100%;
    padding-top: 10px;
    /* The html and body elements cannot have any padding or margin. */
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
 
input[type="number"] {
    -moz-appearance: textfield;
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto;
    /* Negative indent footer by its height */
    margin: 0 auto -60px;
    /* Pad bottom by footer height */
    padding: 0 0 60px;
    padding-bottom: -3020px;
}

/* Set the fixed height of the footer here */
#footer {
    height: 60px;
    background-color: #e5e6e8;
    width: 100%;
    margin: 0 auto;
}
/* Sticky footer end */
body {
    padding-top: 50px;
}

#content{
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: center;
}

#text {
    width: 70%;
    float: left;
    margin-top: 20px;
}



/* headeri stuff */
#header div{
    display: inline-block;
}

div div #logo img{
    margin-top: -51px;
    padding-right:40px;
}

hr{
    border-color: #000000;
    background-color: #000000;
}

/* header end */

/* Vormi stuff */
.form-control{
    border-radius: 10px !important;
}

#login-form{
    float: right;
    width: 30%;
    margin-top: 30px !important;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.modal-input input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.modal-input input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

span.input-group-addon {
    width: 50px;
}

div.input-group {
    width: 100%;
}

form.form-signin {
    background-color: #ffffff;
}

/* form end */

#question{
    background-color: #337ab7;
    color: white;
}

#question-score{
    background-color: #eaeaea;
    color: black;
    width: 29%;
}

#contact, #logos{
    margin-top: 10px;
    color: #101010;
}
#logos img{
    margin-right: 20px;
}
#user_table{
    width: 65%;
}
#add_user input{
    width: 300px;
    border-radius: 8px;
}
#add_user{
    margin-top: -76px;
    width: 30%;
}
#hindamine{
    width: 80%;
    display: inline-block;
}
#hinnatud, #hindamata{
    width: 195px;
}

.question_form {
    background-color: whitesmoke;
    padding: 15px;
    border-radius: 10px;
}
#kirjeldus{
    background-color: red;
    width: 200px;
    height: 200px;
}